<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Laporan Umum Rekam Medik</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/dashboard.css}" rel="stylesheet" media="screen" />

<!-- Custom styles for this template -->
<link th:href="@{/css/starter-template.css}" rel="stylesheet"
	media="screen" />

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script th:src="@{/js/ie-emulation-modes-warning.js}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<link th:href="@{/css/background.css}" rel="stylesheet" media="screen" />

<!-- Chart Javascript -->
<script th:src="@{/js/chart.js}"></script>
<script th:line="javascript">
	var tahunj = [];
	var lakij = [];
	var prj = [];
	var jumlahj = [];
	
	var tahuni = [];
	var lakii = [];
	var pri = [];
	var jumlahi = [];
</script>

<!-- Datatables CSS -->
<link rel="stylesheet"
	th:href="@{/js/datatables/dataTables.bootstrap.css}" media="screen" />
</head>

<body class="back-pic">

	<section th:replace="navbar.html"></section>

	<div class="container containers">
		<div class="row">
			<div class="col-sm-2">
				<!-- <section th:replace="rekammedik/rekammedik_sidebar.html"></section> -->
				<nav class="nav-sidebar">
					<ul class="nav">
						<li class="active"><a th:href="@{/rekammedik}">Laporan
								Umum</a></li>
						<li><a th:href="@{/rekammedik_penyakit}">Rekapitulasi
								Penyakit</a></li>
						<li><a th:href="@{/rekammedik_pasien}">Daftar Pasien</a></li>
						<li class="nav-divider"></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-10">
				<h2>Data Rekam Medik RS Porsea</h2>

				<ul class="nav nav-tabs" style="margin-bottom: 10px">
					<li class="active"><a data-toggle="tab" href="#jalan">Rawat
							jalan</a></li>
					<li><a data-toggle="tab" href="#inap">Rawat Inap</a></li>
				</ul>

				<div class="tab-content">
					<!-- ================================================= RAWAT JALAN ============================================ -->
					<div class="tab-pane fade in active" id="jalan">
						<div class="row" style="margin-bottom: 10px">
							<div class="col-sm-8">
								<canvas id="line-chart"></canvas>
							</div>
							<div class="col-sm-4">
								<canvas id="pie-chart"></canvas>
							</div>
						</div>

						<div th:if="${not #lists.isEmpty(laporan)}" class="box-body">
							<table class="table table-bordered table-striped" id="example1">
								<thead>
									<tr>
										<th>Jumlah Pasien</th>
										<th>Pasien Laki-laki</th>
										<th>Pasien Perempuan</th>
										<th>Bulan</th>
										<th>Tahun</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="lap : ${laporan}">
										<td th:text="${lap.jumlah}"></td>
										<td th:text="${lap.Pria}"></td>
										<td th:text="${lap.Wanita}"></td>
										<td th:text="${lap.bulan}"></td>
										<td th:text="${lap.tahun}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div th:if="${#lists.isEmpty(laporan)}" class="box-body">
						<p style="color: #aaaaaa">Data rekapitulasi tidak ada</p>
						</div>
					</div>
					<p th:if="${not #lists.isEmpty(linechartjalan)}" th:each="jlh : ${linechartjalan}">
						<script th:inline="javascript">
										/*<![CDATA[*/ 
											var a = [[${jlh.tahun}]]; 
											var b = [[${jlh.Pria}]]; 
											var c = [[${jlh.Wanita}]];
											var d = [[${jlh.jumlah}]];
										/*]]>*/
										tahunj.push(a);
										lakij.push(b);
										prj.push(c);
										jumlahj.push(d);
										</script>
					</p>
					<!-- <p th:if="${#lists.isEmpty(laporan)}">
					<script th:inline="javascript">
										/*<![CDATA[*/ 
											var a = 0; 
											var b = 0; 
											var c = 0;
											var d = 0;
										/*]]>*/
										tahunj.push(a);
										lakij.push(b);
										prj.push(c);
										jumlahj.push(d);
										</script></p> -->
					<!-- ====================================================== END =============================================== -->
					<!-- ================================================= RAWAT INAP ============================================ -->
					<div class="tab-pane fade" id="inap">
						<div class="row" style="margin-bottom: 10px">
							<div class="col-sm-8">
								<canvas id="line-chart2"></canvas>
							</div>
							<div class="col-sm-4">
								<canvas id="pie-chart2"></canvas>
							</div>
						</div>

						<div th:if="${not #lists.isEmpty(laporaninap)}" class="box-body">
							<table class="table table-bordered table-striped" id="example2">
								<thead>
									<tr>
										<th>Jumlah Pasien</th>
										<th>Pasien Laki-laki</th>
										<th>Pasien Perempuan</th>
										<th>Bulan</th>
										<th>Tahun</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="lap : ${laporaninap}">
										<td th:text="${lap.jumlah}"></td>

										<td th:text="${lap.Pria}"></td>
										<td th:text="${lap.Wanita}"></td>
										<td th:text="${lap.bulan}"></td>
										<td th:text="${lap.tahun}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div th:if="${#lists.isEmpty(laporaninap)}" class="box-body">
						<p style="color: #aaaaaa">Data rekapitulasi tidak ada</p>
						</div>
					</div>
					<p th:if="${not #lists.isEmpty(linechartinap)}" th:each="jlhs : ${linechartinap}">
						<script th:inline="javascript">
										/*<![CDATA[*/ 
											var e = [[${jlhs.tahun}]]; 
											var f = [[${jlhs.Pria}]]; 
											var g = [[${jlhs.Wanita}]];
											var h = [[${jlhs.jumlah}]];
										/*]]>*/
										tahuni.push(e);
										lakii.push(f);
										pri.push(g);
										jumlahi.push(h);
										</script>
					</p>
					<!-- <p th:if="${ #lists.isEmpty(laporaninap)}">
					<script th:inline="javascript">
										/*<![CDATA[*/ 
											var e = 0; 
											var f = 0; 
											var g = 0;
											var h = 0;
										/*]]>*/
										tahuni.push(e);
										lakii.push(f);
										pri.push(g);
										jumlahi.push(h);
										</script></p> -->
					<!-- ================================================= END =================================================== -->
				</div>
			</div>
		</div>

	</div>

	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

	<!-- ======================================================= JALAN CHART =========================================================== -->
	<script th:inline="javascript">
		new Chart(document.getElementById("line-chart"), {
			type : 'line',
			data : {
				labels : tahunj,
				datasets : [ {
					data : lakij,
					label : "Pria",
					borderColor : "#3e95cd",
					fill : false
				}, {
					data : prj,
					label : "Wanita",
					borderColor : "#ea5ccc",
					fill : false
				}, {
					data : jumlahj,
					label : "Total",
					borderColor : "#3cba9f",
					fill : false
				} ]
			},
			options : {
				title : {
					display : true,
					text : 'Jumlah pasien rawat jalan RS Porsea per tahun'
				}
			}
		});
	</script>

	<script th:inline="javascript">
	/*<![CDATA[*/ 
	var priajalan = [[${jkjalan.Pria}]];
	var wanitajalan = [[${jkjalan.Wanita}]];
	/*]]>*/
		new Chart(document.getElementById("pie-chart"), {
			type : 'pie',
			data : {
				labels : [ "Pria", "Wanita" ],
				datasets : [ {
					label : "Penderita (orang)",
					backgroundColor : [ "#3e95cd", "#ea5ccc" ],
					data : [ priajalan, wanitajalan ]
				} ]
			},
			options : {
				title : {
					display : true,
					text : 'Perbandingan pasien rawat jalan pria dan wanita di RS Porsea'
				}
			}
		});
	</script>
	<!-- ======================================================== INAP CHART =================================================== -->
	<script th:inline="javascript">
	console.log(lakii[0]);
	
		new Chart(document.getElementById("line-chart2"), {
			type : 'line',
			data : {
				labels : tahuni,
				datasets : [ {
					data : lakii,
					label : "Pria",
					borderColor : "#3e95cd",
					fill : false
				}, {
					data : pri,
					label : "Wanita",
					borderColor : "#ea5ccc",
					fill : false
				}, {
					data : jumlahi,
					label : "Total",
					borderColor : "#3cba9f",
					fill : false
				} ]
			},
			options : {
				title : {
					display : true,
					text : 'Jumlah pasien rawat inap RS Porsea per tahun'
				}
			}
		});
	</script>

	<script th:inline="javascript">
	/*<![CDATA[*/ 
	var priainap = [[${jkinap.Pria}]];
	var wanitainap = [[${jkinap.Wanita}]];
	/*]]>*/
		new Chart(document.getElementById("pie-chart2"), {
			type : 'pie',
			data : {
				labels : [ "Pria", "Wanita" ],
				datasets : [ {
					label : "Penderita (orang)",
					backgroundColor : [ "#3e95cd", "#ea5ccc" ],
					data : [ priainap, wanitainap ]
				} ]
			},
			options : {
				title : {
					display : true,
					text : 'Perbandingan pasien rawat inap pria dan wanita di RS Porsea'
				}
			}
		});
	</script>



	<!-- Datatables Javascript -->
	<script th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>

	<script>
		$(function() {
			$("#example1").DataTable({
				"paging" : true,
				"lengthChange" : true,
				"searching" : true,
				"ordering" : true,
				"info" : true,
				"autoWidth" : true
			});
			$('#example2').DataTable({
				"paging" : true,
				"lengthChange" : true,
				"searching" : true,
				"ordering" : true,
				"info" : true,
				"autoWidth" : true
			});
		});
	</script>
</body>
</html>
