
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<!-- <a class="navbar-brand" href="/">SIRMJD</a> -->
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/beranda}">Beranda</a></li>
				<li><a th:href="@{/pasien}">Data Pasien</a></li>
				<li><a th:href="@{/dokter?q=}">Data Dokter</a></li>
				<li><a th:href="@{/rekammedik}">Rekam Medik</a></li>
				<!-- <li th:if="${akun.role}=='Admin'"><a th:href="@{/sso}">SSO</a></li> -->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>